<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>JogetWorkFlow.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>PropServlet</servlet-name>
		<servlet-class>com.joget.smartmobile.server.servlet.PropServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PropServlet</servlet-name>
		<url-pattern>/PropServlet</url-pattern>
	</servlet-mapping>

</web-app>
